@charset "UTF-8";
/*reset*/
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  color: #a59797;
  width: 100%;
  /*overflow-x: hidden;*/
  margin: 0 auto;
  padding: 0; }

body * {
  box-sizing: border-box;
  border: none; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul, li, input {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

figure {
  margin: 0; }

video {
  object-fit: inherit; }

.section-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px; }
  @media screen and (max-width: 1700px) {
    .section-wrapper {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .section-wrapper {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .section-wrapper {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .section-wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

h4 {
  padding: 10px 40px;
  text-transform: uppercase;
  color: #585858; }

h5 {
  padding: 10px 0 5px;
  font-weight: bold;
  font-size: 16px; }

h6 {
  font-size: 16px; }

ul a {
  color: white; }

.header__top-wrapper {
  padding: 11px 0; }

.header-top_background {
  position: absolute;
  background-color: #333;
  opacity: 0.8;
  left: 0;
  top: 0;
  width: 100%;
  height: 61px;
  z-index: 5; }

.header__top {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 16px; }
  @media screen and (max-width: 1700px) {
    .header__top {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .header__top {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .header__top {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .header__top {
      padding-left: 15px;
      padding-right: 15px; } }
  .header__top ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__top a {
    color: white;
    z-index: 5; }
    .header__top a span {
      margin-left: 15px; }

.call-back, .get-match {
  padding: 10px;
  background-color: #72a644;
  line-height: 1.2;
  text-align: center;
  z-index: 5; }

.social__icons {
  width: 165px;
  margin-left: 60px;
  z-index: 8; }

.header__top-menu li {
  margin-left: 60px;
  z-index: 5; }

.tel {
  max-width: 100px;
  margin-left: 60px;
  z-index: 5; }

.header__bottom-wrapper {
  position: relative;
  padding: 12px 0; }

.header-bottom_background {
  position: absolute;
  background-color: #4c4c4c;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 79px;
  z-index: 2; }

.header__bottom {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-transform: uppercase; }
  @media screen and (max-width: 1700px) {
    .header__bottom {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .header__bottom {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .header__bottom {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .header__bottom {
      padding-left: 15px;
      padding-right: 15px; } }
  .header__bottom a {
    color: white; }
    .header__bottom a span {
      margin-left: 15px; }

.logo {
  width: 170px;
  z-index: 5; }

.logo-text {
  display: inline-block;
  font-size: 8px; }

.header__bottom-menu {
  width: 57.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-left: 30px;
  z-index: 5; }

.forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  z-index: 5; }

.get-match {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  margin-left: 10px; }

#match {
  margin-right: 0;
  z-index: 5; }
  #match p {
    margin-bottom: -7px;
    margin-left: 3px;
    text-transform: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-align: center;
  outline: none;
  position: relative; }
  select option {
    background-color: #ececec; }

.main-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px; }
  @media screen and (max-width: 1700px) {
    .main-form {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .main-form {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .main-form {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .main-form {
      padding-left: 15px;
      padding-right: 15px; } }

#main-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0;
  font-size: 16px;
  color: #585858;
  line-height: 1.2;
  text-align: left; }
  #main-form input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed";
    border: 1px solid #585858;
    border-left: none;
    padding: 10px 0; }
    #main-form input:first-of-type {
      border-left: 1px solid #585858; }
  #main-form [type='submit'] {
    background-color: #72a644;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer; }
  #main-form [value='Sell'] {
    width: 64px;
    color: white;
    background-color: #e7ad32; }
  #main-form [type='text'] {
    min-width: 130px;
    padding-left: 10px;
    flex-grow: 1; }
  #main-form [value='Buy'] {
    max-width: 64px;
    color: #585858;
    background-color: white; }

.advanced-search {
  display: flex;
  max-width: 160px;
  padding: 10px 20px;
  background-color: white;
  color: #72a644;
  border: 1px solid #72a644;
  margin-left: 10px; }

#main-form .category-search {
  width: 120px; }

.selections {
  position: relative;
  min-width: 160px;
  color: #585858;
  font-family: "Roboto Condensed";
  border: 1px solid #585858;
  border-left: none;
  padding: 10px 40px 10px 10px;
  text-decoration: none;
  cursor: pointer; }

.select-wrapper {
  position: relative; }

.select-wrapper:after {
  content: '';
  font-family: Font Awesome\ 5 Free;
  font-weight: 600;
  color: #585858;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 11px;
  pointer-events: none; }

.map-container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 30px; }
  @media screen and (max-width: 1700px) {
    .map-container {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .map-container {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .map-container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .map-container {
      padding-left: 15px;
      padding-right: 15px; } }

#map {
  height: 600px;
  width: 100%; }

.tasks {
  margin-bottom: 0;
  padding: 30px;
  background-color: #ececec; }

.task {
  font-size: 19px;
  text-align: center;
  border: 1px solid #2f2f2f;
  margin: 10px;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2; }

.add-favorites p {
  text-align: left;
  padding: 25px 40px;
  margin-top: 20px; }

.drag-box__wrapper {
  background-color: #72a644;
  padding: 15px 20px; }

.add-favorites__title {
  background-color: #ececec;
  text-transform: uppercase; }

.drag-box {
  border: 2px dashed white; }
  .drag-box p {
    font-size: 16px;
    color: white;
    line-height: 1.2;
    text-align: center; }
  .drag-box .fa {
    display: block;
    color: white;
    font-size: 32px;
    text-align: center;
    padding-bottom: 25px; }

.filters {
  background-color: #ececec;
  margin-top: 25px; }
  .filters p {
    color: red;
    font-size: 14px;
    padding: 20px 40px;
    font-weight: 600; }
  .filters input[type=checkbox] {
    display: none; }
  .filters input[type=checkbox] + label {
    color: #626262; }
  .filters input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #626262;
    font-size: 10px;
    line-height: 10px;
    margin: -4px 5px 0 0;
    height: 10px;
    width: 10px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s; }
  .filters input[type=checkbox]:checked + label:before {
    color: #626262; }
  .filters input + label:after {
    content: "99";
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    right: 10%;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #585858;
    color: white;
    line-height: 20px;
    font-size: 10px;
    font-weight: normal; }
  .filters .fa {
    padding-right: 10px; }

.input-type {
  position: relative;
  padding: 10px 40px; }

.property-types {
  margin-bottom: 10px; }

.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .middle-header > p {
    font-size: 25px;
    font-family: "Roboto Condensed";
    color: #585858;
    line-height: 1.2;
    text-align: left; }
  .middle-header .listing-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #72a644;
    font-size: 16px;
    font-family: "Roboto Condensed";
    line-height: 1.2;
    border: 2px solid  #72a644;
    padding-left: 10px; }

.none {
  border: none; }

.info-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

#listing-view {
  font-size: 16px; }

.info-block {
  font-family: "Roboto Condensed";
  width: 49.3%;
  font-size: 18px;
  color: #4c4c4c;
  line-height: 2;
  margin-top: 15px; }

.info-block_img {
  position: relative; }
  .info-block_img > img {
    display: block;
    width: 100%;
    height: 100%; }

.icon-block {
  right: 10px;
  bottom: 10px;
  position: absolute;
  display: flex; }
  .icon-block_item {
    position: relative;
    margin-left: 15px;
    background-color: black;
    opacity: 0.6;
    width: 44px;
    height: 35px;
    text-align: center; }
    .icon-block_item embed {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40%; }

.icon-block_item:hover {
  background-color: black;
  opacity: 0.9; }

.info-block_text {
  padding-left: 40px;
  background-color: #ececec;
  position: relative; }
  .info-block_text__title {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px; }
  .info-block_text__address p {
    display: inline-block; }
  .info-block_text__condition {
    display: inline-block; }
  .info-block_text__contains {
    padding-right: 10px; }
  .info-block_text__property {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ececec;
    border-top: 1px solid #7d7d7d; }
    .info-block_text__property div {
      width: 50%;
      text-align: center; }
    .info-block_text__property div:first-child {
      border-right: 1px solid #7d7d7d; }

.price {
  color: red;
  padding: 0 0 10px 0; }

.owner-foto {
  position: absolute;
  right: 20px;
  bottom: 10px; }

.options {
  padding: 10px 40px; }
  .options select {
    width: 100%;
    color: #7d7d7d;
    text-align: center;
    text-decoration: none; }
  .options h4 {
    margin-left: -40px;
    margin-top: 30px;
    margin-bottom: 5px; }

.options_item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.options_price {
  display: flex;
  width: 40%;
  height: 40px;
  position: relative;
  border: 1px solid #7d7d7d;
  color: #7d7d7d;
  padding: 5px 0 5px 5px;
  font-size: 12px;
  text-decoration: none;
  line-height: 30px;
  background-color: #f7f7f7; }

.min-price_wrapper, .max-price_wrapper {
  flex-grow: 1;
  padding-left: 5px; }

.min-price_wrapper:after, .max-price_wrapper:after {
  content: '';
  font-family: Font Awesome\ 5 Free;
  font-weight: 600;
  color: #585858;
  display: inline-block;
  position: absolute;
  right: 8%;
  top: 6px;
  pointer-events: none; }

.option_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  border: 1px solid #7d7d7d;
  background-color: #f7f7f7; }

.option-box {
  display: flex;
  font-size: 16px; }
  .option-box_img {
    padding: 0 5px; }

.btn-box {
  display: flex; }

.form-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #7d7d7d;
  background-color: #f7f7f7;
  border-right: none;
  color: #7d7d7d;
  font-size: 25px;
  outline: none; }

.sqft-container {
  position: relative;
  width: 100%; }

.sqft-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 12px; }

.sqft {
  width: 100%;
  height: 7px;
  background-color: #72a644; }

.sqft-box_min {
  margin-right: 30px; }

.sqft-box_min, .sqft-box_max {
  width: 30%;
  background-color: white;
  border: 1px solid #7d7d7d;
  padding: 7px 0;
  text-align: center; }

.pointer-box {
  display: flex;
  z-index: 5;
  height: 20px;
  width: 8px; }

.pointer-box_right {
  position: absolute;
  top: -3px;
  right: 0; }

.pointer-box_left {
  position: absolute;
  top: -3px;
  left: 0; }

.pointer-right, .pointer-left {
  width: 100%;
  height: 100%; }

.pointer-left {
  background: linear-gradient(45deg, #ececec 30%, #ffaf4b 30%), #ececec; }

.pointer-right {
  background: linear-gradient(-45deg, #ececec 30%, #ffaf4b 30%), #ececec;
  margin-left: -1px; }

.tenure-box {
  padding-bottom: 10px; }

.top-properties_container {
  background-color: #ececec;
  margin-top: 20px;
  padding-top: 20px; }
  .top-properties_container h4 {
    width: 77%;
    margin: 0 auto;
    padding: 10px 0; }

.top-properties {
  width: 77%;
  margin: 0 auto; }

.top-properties_img > img {
  display: block;
  width: 100%; }

.paging {
  height: 30px;
  display: flex;
  color: #7d7d7d;
  font-size: 16px;
  line-height: 1.8;
  margin: 50px 0 215px 0; }
  .paging a {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid #7d7d7d;
    border-left: none; }
  .paging a:last-of-type {
    border-right: none; }

.paging-btn {
  height: 30px;
  background-color: white;
  font-size: 16px;
  border: 1px solid #7d7d7d;
  padding: 5px 12px;
  color: #7d7d7d;
  outline: none; }

#a:target, #b:target, #c:target {
  background-color: #eebf42; }

.footer {
  color: white; }

.footer-slider_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px; }
  @media screen and (max-width: 1700px) {
    .footer-slider_wrapper {
      margin-left: 100px;
      margin-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .footer-slider_wrapper {
      margin-left: 60px;
      margin-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .footer-slider_wrapper {
      margin-left: 30px;
      margin-right: 30px; } }
  @media screen and (max-width: 720px) {
    .footer-slider_wrapper {
      margin-left: 15px;
      margin-right: 15px; } }

.footer-top {
  height: 120px;
  opacity: 0.7;
  background-color: black; }
  .footer-top h6 {
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: normal; }

.footer-slider_wrapper {
  position: relative; }

.footer-slider {
  width: 900px;
  margin: 0 auto; }

.next, .prev {
  font-size: 40px;
  position: absolute;
  z-index: 2; }

.prev {
  left: 0;
  top: 50%;
  transform: translate(0, -50%); }

.next {
  right: 0;
  top: 50%;
  transform: translate(0, -50%); }

.footer-bottom {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  height: 280px;
  background-color: black;
  opacity: 0.6; }
  @media screen and (max-width: 1700px) {
    .footer-bottom {
      padding-left: 100px;
      padding-right: 100px; } }
  @media screen and (max-width: 1400px) {
    .footer-bottom {
      padding-left: 60px;
      padding-right: 60px; } }
  @media screen and (max-width: 1050px) {
    .footer-bottom {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 720px) {
    .footer-bottom {
      padding-left: 15px;
      padding-right: 15px; } }

.footer-cities_social {
  display: flex; }

.footer-cities > h5 {
  padding: 0; }

.footer-social {
  margin-right: 20px; }

@media screen and (max-width: 1450px) {
  .footer-slider {
    width: 700px; }
  .info-block_text__condition {
    display: block; } }

@media screen and (max-width: 1200px) {
  .info-block {
    width: 98%;
    margin-left: 15px;
    font-size: 18px; }
  .info-block_text__condition {
    display: inline-block; } }

@media screen and (max-width: 950px) {
  .info-block_text__condition {
    display: block; }
  #main-form .category-search {
    width: 100px;
    padding-left: 5px;
    padding-right: 5px; }
  .advanced-search {
    max-width: 100px;
    padding: 10px 0; } }
